<template>
    <div class="table-parent">
        <div class="actionbar">
            <input
                type="text"
                placeholder="name"
                v-model="addingUnitName" />
            <input
                type="file"
                ref="csvfile"
                @change="handleFile" />

            <button @click="addunit">Click</button>
            <div id="output">
                <!-- <pre>{{ stateMileageMap }}</pre> -->
            </div>
        </div>

        <table class="table">
            <tr class="table-row">
                <td>State</td>
                <td
                    v-for="(state, index) in Object.keys(stateTitles.AL)"
                    :key="index">
                    {{ state }}
                </td>
                <td>total</td>
            </tr>
            <tr
                class="table-row"
                v-for="(state, index) in Object.keys(stateTitles)"
                :key="state + index">
                <td>{{ state }}</td>
                <td
                    v-for="(ceil, index) in stateTitles[state]"
                    :key="index">
                    {{ ceil }}
                </td>
                <td width="200px">
                    <p
                        class="copybtn"
                        @click="copyValue(totals[state])">
                        {{ totals[state] }}
                    </p>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
export default {
    name: "compPagination",
    data() {
        return {
            stateTitles: {
                AL: {},
                AK: {},
                AZ: {},
                AR: {},
                CA: {},
                CO: {},
                CT: {},
                DE: {},
                FL: {},
                GA: {},
                HI: {},
                ID: {},
                IL: {},
                IN: {},
                IA: {},
                KS: {},
                KY: {},
                LA: {},
                ME: {},
                MD: {},
                MA: {},
                MI: {},
                MN: {},
                MS: {},
                MO: {},
                MT: {},
                NE: {},
                NV: {},
                NH: {},
                NJ: {},
                NM: {},
                NY: {},
                NC: {},
                ND: {},
                OH: {},
                OK: {},
                OR: {},
                PA: {},
                RI: {},
                SC: {},
                SD: {},
                TN: {},
                TX: {},
                UT: {},
                VT: {},
                VA: {},
                WA: {},
                WV: {},
                WI: {},
                WY: {},
            },
            addingUnitName: "",
            stateMileageMap: {},
        };
    },
    computed: {
        totals() {
            const result = {};

            for (const state in this.stateTitles) {
                if (this.stateTitles.hasOwnProperty(state)) {
                    const units = Object.values(this.stateTitles[state]);
                    result[state] = Math.round(units.reduce((sum, unit) => sum + unit, 0));
                }
            }

            return result;
        },
        // getTotal() {
        //     let obj = {};

        //     Object.keys(this.stateTitles).forEach((element) => {
        //         let total = 0;

        //         // Object.values(element).forEach((item) => {
        //         //     total += item;
        //         //     // console.log(item);
        //         // });

        //         console.log(element);
        //     });

        //     return "1";
        //     // console.log(Object.keys(this.stateTitles));
        //     // console.log(state);
        // },
    },
    methods: {
        addunit() {
            let unitName = this.addingUnitName;
            for (const state in this.stateTitles) {
                if (this.stateTitles.hasOwnProperty(state)) {
                    this.stateTitles[state][unitName] = this.stateMileageMap[state] || 0;
                }
            }

            this.addingUnitName = "";
            this.stateMileageMap = {};
            this.$refs.csvfile.value = null;
        },
        copyValue(value) {
            navigator.clipboard.writeText(value);
        },
        handleFile(e) {
            const file = e.target.files[0];

            if (file) {
                const reader = new FileReader();

                reader.onload = (e) => {
                    const csvData = e.target.result;
                    this.stateMileageMap = this.csvToStateMileageMap(csvData);
                };

                reader.readAsText(file);
            }
        },
        csvToStateMileageMap(csv) {
            const lines = csv.split("\n");
            const stateMileageMap = {};

            for (let i = 7; i < lines.length; i++) {
                const currentLine = lines[i].split(",");
                const state = currentLine[0].trim();
                const mileage = parseFloat(currentLine[1]);

                if (state && !isNaN(mileage)) {
                    stateMileageMap[state] = mileage;
                }
            }

            return stateMileageMap;
        },
    },
    mounted() {
        window.onbeforeunload = function () {
            return "";
        };
    },
};
</script>

<style lang="scss">
@import "./style.scss";
</style>
