*,
ul,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
    font-family: "Motserrat", sans-serif;

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(28, 79, 209, 0.5);
        border-radius: 10px;
    }
}

.table {
    width: 900px;
    border: 1px solid #000;
    border-collapse: collapse;
    margin: auto;
    overflow: auto;

    td,
    th {
        border: 1px solid #000;
        padding: 5px;
    }

    &-parent {
        display: flex;
        flex-direction: column;
        padding: 100px;
        gap: 10px;
    }
}

.actionbar {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.copybtn {
    padding: 8px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    background: #e7e7e7;
    color: #333;

    &:hover {
        opacity: 0.7;
    }

    &:active {
        transform: scale(0.9);
    }
}
